body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #b3d9ff, #e6f2ff);
}

header {
    background: #005eff;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 28px;
    height: 28px;
}

nav {
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    width: 80%;
    margin: 15px auto;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 18px;
    margin: 0 6px;
    background: #e8f0ff;
    border-radius: 10px;
}

nav a:hover {
    background: #d0e1ff;
}

.content {
    width: 80%;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.hero-image {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}

.job-card {
    background: #f3f8ff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid #2f72ff;
}

.job-img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 10px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #99c2ff;
}

button {
    padding: 10px 20px;
    background: #005eff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0041b3;
}

.apply-btn {
    margin-top: 8px;
    padding: 6px 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}